@{
    ViewData["Title"] = "Result Page";
}
@* 
Examples of ViewBag output
TODO add logic to show the correct result
 *@


@if (ViewBag.Request != null) 
{
    <h3>Request</h3>
    <p>@ViewBag.Request</p>
}
<h3>В списке @ViewBag.Countries.Count элемента:</h3>
<ul>
    @foreach (string country in ViewBag.Countries)
    {
        <li>@country</li>
    }
</ul>
